<div data-role = "header">
	<h4>Edit Trial</h4>
</div>
<div data-role = "content">

<%= render 'form' %>

<%= link_to 'Show', @trial, 'data-ajax' => 'false' %> |
<%= link_to 'Back', trials_path, 'data-ajax' => 'false' %>
</div>
