<div data-role="header">
	<h1>Events</h1>
</div>
<div data-role="content">
	<ul data-role="listview" data-inset="true">
		<li data-role="list-divider">Men</li>
		<% @events.each do |event| %>
		<li><%= link_to event.title,results_event_path(event,:gender => 'M') %></li>
		<% end %>
		<li data-role="list-divider">Women</li>
		<% @events.each do |event| %>
		<li><%= event.title %><%= link_to "",results_event_path(event,:gender => 'F') %></li>
		<% end %>
	</ul>
</div>
